/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#FFFFFF;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
	padding: 0.8em;
	font-family:Verdana;
	text-transform: uppercase;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}


/* Eerste navigatie */


ul:nth-of-type(1) {
	display:flex;
	flex-wrap:wrap;
	gap:1em;

	}
	
	ul:nth-of-type(1) li {
	flex-shrink:0;
	}

	ul:nth-of-type(1) li a{
		color: black;
		font-weight: bold;
	}

	ul:nth-of-type(1) li a:hover{
		color: red;
	}
	
	ul:nth-of-type(1) li:nth-of-type(1) {
	margin-right:auto;
	}

	ul:nth-of-type(1) img {
		width: 4em;
		margin: -1em;
	}


/* Tweede navigatie */


	ul:nth-of-type(2) {
		display:flex;
		flex-wrap:row-reverse;
		gap:1em;
		background-color:#e4002b;
		padding:1.5em;
		}

		ul:nth-of-type(2) li a {
			color: white;
			font-weight: bold;
			}


/* derde navigatie */


		section:nth-of-type(1) {
			max-width:100%;
			background: url("../images/kfcachtergrond.jpeg");
			background-size:cover;
			padding: 5em 0;
		}

		section:nth-of-type(1) article{
			display:grid;
			background-color:white;
			padding: 2em;
			text-align: center;
			margin: 2em 2em;
			}

			section:nth-of-type(1) article a{
				display:block;
				}

			section:nth-of-type(1) a{
				color: black;
				align-items: center;
				padding: 0.5em;
			}

			section:nth-of-type(1) button{
				display:grid;
				margin: auto;
				padding: 1em 5em 1em 5em;
				margin-top: 2em;
				background-color:#e4002b;
				color: white;
				text-transform: uppercase;
			}

			section:nth-of-type(1) h2{
				display:block;
				text-align: center;
				padding: 0.5em;
				color: white;
				font-size: 2.5em;
			}

			section:nth-of-type(1) form{
				text-transform: lowercase;
			}


			/* eerste aanbieding van kfc */

			
			section:nth-of-type(2) {
				max-width:100%;
				background: url("../images/veggieburger.jpeg");
				background-size: contain;
				background-repeat: no-repeat;
				padding: 4em 0;
			}

			section:nth-of-type(2) button{
				position:absolute;
				padding: 0.1em 0.1em 0.1em 0.1em;
				margin:1.3em 0.1em 0.1em 2em;
				background-color:#4EA950;
				color:white;
				border-color:white;
				text-transform:uppercase;
			}

			/* tweede aanbieding van kfc */

			section:nth-of-type(3) {
				max-width:100%;
				background: url("../images/orginalburger.jpeg");
				background-size: contain;
				background-repeat: no-repeat;
				padding: 4em 0;
			}

			/* derde aanbieding van kfc */

			section:nth-of-type(4) {
				max-width:100%;
				background: url("../images/mealdeals.jpeg");
				background-size: contain;
				background-repeat: no-repeat;
				padding: 4em 0;
			}

			/* vierde aanbieding van kfc */

			section:nth-of-type(4) {
				max-width:100%;
				background: url("../images/coupondeals.jpeg");
				background-size: contain;
				background-repeat: no-repeat;
				padding: 4em 0;
			}

			/* vijde aanbieding van kfc */

			section:nth-of-type(4) {
				max-width:100%;
				background: url("../images/clickencollect.jpeg");
				background-size: contain;
				background-repeat: no-repeat;
				padding: 4em 0;
			}

			/* zesde aanbieding van kfc */

			section:nth-of-type(5) {
				max-width:100%;
				background: url("../images/nieuwsbrief.jpeg");
				background-size: contain;
				background-repeat: no-repeat;
				padding: 4em 0;
			}

			/* zevende aanbieding van kfc */

			section:nth-of-type(6) {
				max-width:100%;
				background: url("../images/joinkfcfamily.png");
				background-size: contain;
				background-repeat: no-repeat;
				padding: 4em 0;
			}

			footer{
			padding:0 5em;
			}


