/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/


/****************/
/* JOUW STYLING */
/****************/

/*********************/
/* Eerste navigatie */
/*********************/

h1 {
  position:fixed;
  left:-9999em;
  top:0; 
}

h3{
  font-size: 0.8em;
}

ul:first-of-type {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding-top: 1.5em;
  padding-right: 0.5em;
}

  ul:first-of-type img {
    width: 4em;
    margin: -1em;
  }


  ul:first-of-type li a {
    color: var(--color-backgroundblack);
    font-weight: bold;
  }

  ul:first-of-type li a:hover{
		color:var(--color-backgroundred);
	}

  ul:first-of-type li:first-of-type {
    margin-right:auto;
    }

 header nav ul:nth-of-type(2) li:nth-of-type(5) a{
    background-color: var(--color-backgroundwhite);
    padding: 0.4em;
    margin: -0.3em;
    border-radius: 0.3em;
    color: var(--color-backgroundblack);
  }

  header nav ul:nth-of-type(2) li:nth-of-type(5) a:hover{
		background-color: var(--color-backgroundgreen);
    color: var(--color-backgroundwhite);
	}

  /*********************/
  /* sticky navigatie */
  /*********************/
  header {
    position: sticky;
    top: 0em;
    background-color: var(--color-backgroundwhite);
  }

  
  /*********************/
  /* Tweede navigatie */
  /*********************/

  ul:nth-of-type(2) {
    display: flex;
      flex-wrap:row-reverse;
      gap: 0.7em;
      background-color: var(--color-backgroundred);
      padding: 1.5em;
      margin: 0;
    }

  ul:nth-of-type(2){
    display: flex;
    flex-direction: row;
    gap:1em;
  }

  @media (max-width: 40em) {
    ul:nth-of-type(2) {
      flex-direction: column;
    }
  }

  ul:nth-of-type(2) li a {
    color: var(--color-backgroundwhite);
    font-weight: bold;
  }
  
  ul:nth-of-type(2) li {
  flex-shrink:0;
  }

  ul:nth-of-type(2) li:nth-of-type(4) {
    margin-right: auto;
  }

  /*********************/
  /* derde navigatie */
  /*********************/


ul:nth-of-type(3){
	list-style:none;
	margin: 0em;
	padding:1em;
	display:grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 1em;
  overflow-x: scroll;
  box-shadow: 0.1em 0.1em 0.2em 0.1em  var(--color-backgroundgray);
}

ul:nth-of-type(3) img{
    width: 5em;
    height: 5em;
    border-radius: 25em;
    border: 2px solid red;
}
  

ul:nth-of-type(3) h2{
  font-size: 0.6em;
  text-align: left;
}
  
a {
  text-decoration: none;
  color: var(--color-backgroundblack);
  align-items: center;
}

  /***********/
  /* Buckets */
  /***********/

  section:first-of-type h2{
    margin: 1.5em;
  }

  section:first-of-type img{
    width: 2em;
    margin: auto;
  }

  section:first-of-type ul{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:1em;
  }

@media (min-width: 50em) {
  section:nth-of-type(1) ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 75em) {
  section:nth-of-type(1) ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
}

section:nth-of-type(1) li{
  box-shadow: 0.3em -0.2em 1em -0.2em  var(--color-backgroundgray);
  padding: 1em;
}

section:first-of-type h3 {
  padding-left: 0.5em;
  margin: 2.5em;
  }

  section:first-of-type a img  {
    width: 100%;
    margin: 0;
    padding: 0.5em;
}


section:first-of-type ul a {
  display: flex;
  flex-direction: column-reverse;
}

  /***********/
  /* Chicken */
  /***********/


  section:nth-of-type(2) h2{
    margin: 1.5em;
  }

  section:nth-of-type(2) img{
    width: 2em;
    margin:auto;
  }

  section:nth-of-type(2) ul{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:1em;
  }

@media (min-width: 50em) {
  section:nth-of-type(2) ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 75em) {
  section:nth-of-type(2) ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
}

section:nth-of-type(2) li{
  box-shadow: 0.3em -0.2em 1em -0.2em  var(--color-backgroundgray);
  padding: 1em;
}

section:nth-of-type(2) h3 {
  padding-left: 0.5em;
  margin-right: 2.5em;
  }

  section:nth-of-type(2) a img {
    width: 100%;
    margin: 0;
    padding: 0.5em;
}

section:nth-of-type(2) ul a {
  display: flex;
  flex-direction: column-reverse;
}

  /**********/
  /* Veggie */
  /**********/

  section:nth-of-type(3) h2{
    margin: 1.5em;
  }

  section:nth-of-type(3) img{
    width: 2em;
    margin:auto;
  }

  section:nth-of-type(3) ul{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:1em;
  }

@media (min-width: 50em) {
  section:nth-of-type(3) ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 75em) {
  section:nth-of-type(3) ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
}

section:nth-of-type(3) li{
  box-shadow: 0.3em -0.2em 1em -0.2em  var(--color-backgroundgray);
  padding: 1em;
}

section:nth-of-type(3) h3 {
  padding-left: 0.5em;
  margin: 2.5em;
  }

  section:nth-of-type(3) a img {
    width: 100%;
    margin: 0;
    padding: 0.5em;
}

section:nth-of-type(3) ul a {
  display: flex;
  flex-direction: column-reverse;
}

section:nth-of-type(3){
  padding: 1.5em;
  border-bottom: 0.1em solid var(--color-backgroundblack)
}


	/***********/
	/* contact */
	/***********/

			
	footer{
		display: flex;
		text-align: center;
		align-items: center;
	}

	footer img{
		width: 15em;
	}

	footer:first-of-type{
		display: flex;
		flex-direction:column;
		background-size: cover;
	}

	footer summary{
		padding: 0.7em;
	}

	footer article a{
		margin: 1em;
    padding: 1.5em;
	}

	footer details a {
		display: flex;
		flex-direction:column;
		padding: 0.2em;
	}


	footer article:first-of-type img{
		width: 11em;
		margin: 0.5em;
    padding: 1em;
	}

	footer article:nth-of-type(2) img{
		width: 4em;
		margin: 1em -1em;
	}

	footer article:nth-of-type(3) img{
		width: 10em;
		margin: 1em -1em;
	}

	footer p{
		padding: 1em;
	}
