/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/


/****************/
/* JOUW STYLING */
/****************/

h1, h3{
	position:fixed;
	left:-9999em;
	 top:0; 
}

/*********************/
/* Eerste navigatie */
/*********************/

ul:first-of-type {
	display:flex;
	flex-wrap:wrap;
	gap:1em;
	padding-top: 1.5em;

	}
	
	ul:first-of-type li {
	flex-shrink:0;
	}

	ul:first-of-type li a{
		color:var(--color-backgroundblack);
		font-weight: bold;
	}

	ul:first-of-type li a:hover{
		color:var(--color-backgroundred);
	}
	
	ul:first-of-type li:first-of-type {
	margin-right:auto;
	}

	ul:first-of-type img {
		width: 4em;
		margin: -1em;
	}

/********************/
/* Tweede navigatie */
/********************/

	ul:nth-of-type(2) {
		display:flex;
		gap:1em;
		background-color:var(--color-backgroundred);
		padding:1.5em;
		}

		ul:nth-of-type(2) li a {
			color:var(--color-backgroundwhite);
			font-weight: bold;
			}

/*******************/
/* derde navigatie */
/*******************/

		section:nth-of-type(1) {
			max-width:100%;
			background: url("../images/kfcachtergrond.jpeg");
			background-size:cover;
			padding: 5em 0;
		}

		section:nth-of-type(1) article{
			display:grid;
			background-color:var(--color-backgroundwhite);
			padding: 2em 0;
			text-align: center;
			margin: 2em 2em;
			}

			section:first-of-type article{
				display:block;
			}
			

			/* afhalen en bezorgen naast elkaar */

			section:first-of-type article article {
				display:flex;
				justify-content:space-evenly;
			}
			

			section:nth-of-type(2) a{
				color:var(--color-backgroundblack);
				align-items: center;
				padding: 0.5em;
			}

			section:nth-of-type(1) button{
				display:grid;
				margin: auto;
				padding: 1em 5em 1em 5em;
				margin-top: 2em;
				background-color:var(--color-backgroundred);
				color:var(--color-backgroundwhite);
				text-transform: uppercase;
				border: none;
			}

			section:nth-of-type(1) button:active{
				box-shadow: 0.2em 0.2em 0.3em var(--color-backgroundblack);
			}

			section:nth-of-type(1) h2{
				display:block;
				text-align: center;
				padding: 0.5em;
				color:var(--color-backgroundwhite);
				font-size: 2.5em;
			}

			section:nth-of-type(1) form{
				text-transform: lowercase;
			}

			/*****************************/
			/* eerste aanbieding van kfc */
			/*****************************/
			
			section:nth-of-type(2) {
				background-size: cover;
				background-repeat: no-repeat;
				padding: 2em 0;
				position: relative;
			}

			section:nth-of-type(2) img{
				width: 100%;
			}

			section:nth-of-type(2) a{
				position:relative;
				padding: 0.2em 0.3em 0.2em 0.3em;
				bottom: 2.0em;
				margin: 0.5em;
				background-color:var(--color-backgroundgreen);
				color:var(--color-backgroundwhite);
				text-transform:uppercase;
				font-size: clamp(1.1em, 3vw, 3em);
			}

			section:nth-of-type(2) a:active{
				box-shadow: 0.1em 0.1em 0.3em var(--color-backgroundblack);
			}

			/*****************************/
			/* tweede aanbieding van kfc */
			/*****************************/

			section:nth-of-type(3) {
				background-size: cover;
				background-repeat: no-repeat;
				padding: 1em 0;
				position:relative;
			}

			section:nth-of-type(3) img{
				width: 100%;
			}


			section:nth-of-type(3) a{
				position:relative;
				padding: 0.2em 0.3em 0.2em 0.3em;
				bottom: 1em;
				margin: -7em;
				background-color:var(--color-backgroundred);
				color:var(--color-backgroundwhite);
				text-transform:uppercase;
				font-size: clamp(1.1em, 3vw, 3em);
			}

			section:nth-of-type(3) a:active{
				box-shadow: 0.1em 0.1em 0.3em var(--color-backgroundblack);
			}

			/****************************/
			/* derde aanbieding van kfc */
			/****************************/

			section:nth-of-type(4) {
				background-size: cover;
				background-repeat: no-repeat;
				padding: 1em 0;
				position: relative;
			}

			section:nth-of-type(4) img{
				width: 100%;
			}

			section:nth-of-type(4) a{
				position:relative;
				padding: 0.2em 0.3em 0.2em 0.3em;
				bottom: 2.1em;
				margin: 0.5em;
				background-color:var(--color-backgroundred);
				color:var(--color-backgroundwhite);
				text-transform:uppercase;
				font-size: clamp(1.1em, 3vw, 3em);
			}

			section:nth-of-type(4) a:active{
				box-shadow: 0.1em 0.1em 0.3em var(--color-backgroundblack);
			}

			/*****************************/
			/* vierde aanbieding van kfc */
			/*****************************/

			section:nth-of-type(5) {
				background-size: cover;
				background-repeat: no-repeat;
				padding: 1em 0;
				position:relative;
			}

			section:nth-of-type(5) img{
				width: 100%;
			}


			section:nth-of-type(5) a{
				position:relative;
				padding: 0.2em 0.3em 0.2em 0.3em;
				bottom: 1em;
				margin: -7em;
				background-color:var(--color-backgroundblack);
				color:var(--color-backgroundwhite);
				text-transform:uppercase;
				font-size: clamp(1.1em, 3vw, 3em);
			}

			section:nth-of-type(5) a:active{
				box-shadow: 0.1em 0.1em 0.3em var(--color-backgroundwhite);
			}

			/*****************************/
			/* vijfde aanbieding van kfc */
			/*****************************/

			section:nth-of-type(6) {
				background-size: cover;
				background-repeat: no-repeat;
				padding: 1em 0;
				position: relative;
			}

			section:nth-of-type(6) img{
				width: 100%;
			}

			section:nth-of-type(6) a{
				position:relative;
				padding: 0.2em 0.3em 0.2em 0.3em;
				bottom: 2.1em;
				margin: 0.5em;
				background-color:var(--color-backgroundred);
				color:var(--color-backgroundwhite);
				text-transform:uppercase;
				font-size: clamp(1.1em, 3vw, 3em);
			}

			section:nth-of-type(6) a:active{
				box-shadow: 0.1em 0.1em 0.3em var(--color-backgroundblack);
			}

			/*****************************/
			/* zesde aanbieding van kfc */
			/*****************************/

			section:nth-of-type(7) {
				background-size: cover;
				background-repeat: no-repeat;
				padding: 1em 0;
				position:relative;
			}

			section:nth-of-type(7) img{
				width: 100%;
			}

			section:nth-of-type(7) a{
				position:relative;
				padding: 0.2em 0.3em 0.2em 0.3em;
				bottom: 1em;
				margin: -11em;
				background-color:var(--color-backgroundblack);
				color:var(--color-backgroundwhite);
				text-transform:uppercase;
				font-size: clamp(1.1em, 3vw, 3em);
			}

			section:nth-of-type(7) a:active{
				box-shadow: 0.1em 0.1em 0.3em var(--color-backgroundwhite);
			}

			/******************************/
			/* zevende aanbieding van kfc */
			/******************************/

			section:nth-of-type(8) {
				background-size: cover;
				background-repeat: no-repeat;
				padding: 1em 0;
				position: relative;
			}

			section:nth-of-type(8) img{
				width: 100%;
			}

			section:nth-of-type(8) a{
				position:relative;
				padding: 0.2em 0.3em 0.2em 0.3em;
				bottom: 2.1em;
				margin: 0.5em;
				background-color:var(--color-backgroundred);
				color:var(--color-backgroundwhite);
				text-transform:uppercase;
				font-size: clamp(1.1em, 3vw, 3em);
			}

			section:nth-of-type(8) a:active{
				box-shadow: 0.1em 0.1em 0.3em var(--color-backgroundblack);
			}

			section:nth-of-type(8){
				padding: 1.5em;
				border-bottom: 0.1em solid var(--color-backgroundblack)
			}
			
	/***********/
	/* contact */
	/***********/
			
	footer{
		display: flex;
		text-align: center;
		align-items: center;
	}

	footer img{
		width: 15em;
	}

	footer:first-of-type{
		display: flex;
		flex-direction:column;
		background-size: cover;
	}

	footer summary{
		padding: 0.7em;
	}

	footer article a{
		margin: 1em;
		padding: 1.5em;
	}

	footer details a{
		display: flex;
		flex-direction:column;
		padding: 0.2em;
	}


	footer article:first-of-type img{
		width: 11em;
		margin: 0.5em;
		padding: 1em;
	}

	footer article:nth-of-type(2) img{
		width: 4em;
		margin: 1em -1em;
	}

	footer article:nth-of-type(3) img{
		width: 10em;
		margin: 1em -1em;
	}
			
	footer p{
		padding: 1em;
	}
