:root {
	/* startje */
	--color-text:#111;
	--color-backgroundwhite:#FFFFFF;
	--color-backgroundred:#e4002b;
	--color-backgroundblack:#000000;
	--color-backgroundgreen:#4EA950;
	--color-backgroundgray:#6c757d;
}
	
	body {
		color:var(--color-text);
		background-color:var(--color-background);
		padding: 0.8em;
		font-family:Verdana;
		text-transform: uppercase;
	}
	
	h4{
		font-size: 0.8em;
	}
	
	a{
		text-decoration: none;
		color:var(--color-backgroundwwhite);
	}
	
	ul{
		list-style-type: none;
	}


	/* ***************** */
	/* Light en darkmode */
	/* ***************** */

	
	.dark-mode{
		background:var(--color-backgroundgray);
	}
	
	.light-mode{
		background:var(--color-backgroundwhite);
	}
	
	.aanuit{
		color:var(--color-text);
	}