
/*********************/
/* Eerste navigatie */
/*********************/

h1 {
  position:fixed;
  left:-9999em;
  top:0; 
}

h3{
  font-size: 0.8em;
}

ul:first-of-type {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

  ul:first-of-type img {
    width: 4em;
    margin: -1em;

  }

  ul:first-of-type li a {
    color: var(--color-backgroundblack);
    font-weight: bold;
  }

  ul:first-of-type li:first-of-type {
    margin-right:auto;
    }

 header nav ul:nth-of-type(2) li:nth-of-type(5) a{
    background-color: var(--color-backgroundwhite);
    padding: 0.4em;
    margin: -0.3em;
    border-radius: 0.3em;
    color: var(--color-backgroundblack);
  }

  /*********************/
  /* Tweede navigatie */
  /*********************/

  ul:nth-of-type(2) {
    display: flex;
      flex-wrap:row-reverse;
      gap: 1em;
      background-color: var(--color-backgroundred);
      padding: 1.5em;
      margin: 0;
    }

  ul:nth-of-type(2){
    display: flex;
    flex-wrap: row-reverse;
    gap:1em;
  }

  ul:nth-of-type(2) li a {
    color: var(--color-backgroundwhite);
    font-weight: bold;
  }
  
  ul:nth-of-type(2) li {
  flex-shrink:0;
  }

  ul:nth-of-type(2) li:nth-of-type(4) {
    margin-right: auto;
  }

  /*********************/
  /* Tweede navigatie */
  /*********************/

ul:nth-of-type(3){
	list-style:none;
	margin: 0em;
	padding:1em;
	display:grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 1em;
  overflow-x: scroll;
  box-shadow: 0.1em 0.1em 0.2em 0.1em  var(--color-backgroundgray);
}

ul:nth-of-type(3) img{
    width: 6em;
    height: 6em;
    align-items: center;
    border-radius: 25em;
    border: 2px solid red;
}
  

ul:nth-of-type(3) h2{
  font-size: 0.8em;
  text-align: center;
}
  
a {
  text-decoration: none;
  color: var(--color-backgroundblack);
  display: flex;
  align-items: center;
}

  /***********/
  /* Buckets */
  /***********/

  section:first-of-type h2{
    margin: 1.5em;
  }

  section:first-of-type ul{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:1em;
  }

@media (min-width: 50em) {
  section:nth-of-type(1) ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 75em) {
  section:nth-of-type(1) ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
}

section:nth-of-type(1) li{
  box-shadow: -0.1em -1em 1em 0.1em  var(--color-backgroundgray);
}

section:first-of-type h3 {
  padding-left: 0.5em;
  margin: 2em;
  }

  section:first-of-type h3 {
    color: var(--color-backgroundred);
    }

  section:first-of-type img {
    width: 100%;
    margin: -1em;
}

section:first-of-type ul a {
  display: flex;
  flex-direction: column-reverse;
}

  /***********/
  /* Chicken */
  /***********/

  section:nth-of-type(2) h2{
    margin: 1.5em;
  }

  section:nth-of-type(2) ul{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:1em;
  }

@media (min-width: 50em) {
  section:nth-of-type(2) ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 75em) {
  section:nth-of-type(2) ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
}

section:nth-of-type(2) li{
  box-shadow: -0.1em -1em 1em 0.1em  var(--color-backgroundgray);
}

section:nth-of-type(2) h3 {
  padding-left: 0.5em;
  }

  section:nth-of-type(2) h3 {
    color: var(--color-backgroundred);
    }

  section:nth-of-type(2) img {
    width: 100%;
    margin: -1em;
}

section:nth-of-type(2) ul a {
  display: flex;
  flex-direction: column-reverse;
}